#book-kit {
  background: url(../assets/img/blur-book.png);
  background-size: 70%;
  background-position: center;

  padding-block: 235px 270px;
  & > div:nth-child(1) {
    text-align: center;
    margin-block: 235px 88px;
    & h2{
      margin-bottom:  .5rem ;
    }
   & div{
    display: flex;
    justify-content: center;
    gap: 1rem;
   }
  }

  .book-kit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57.5rem;

    & img {
      height: 100%;
      width: auto;
    }

    & .bookmark-yellow,
    .bookmark-purple,
    .pin,
    .book-text {
      position: absolute;
      transition: 900ms ease-in-out;
    }

    & .book-text {
      & div:nth-child(1),
      div:nth-child(2),
      div:nth-child(3) {
        transition: 900ms ease-in-out;
      }
    }

    & .book {
      z-index: 1;
      position: absolute;
      height: 38.5rem;
     
    }

    & .pin {
      z-index: -2;
      & img {
        width: 12rem;
      }
    }

    & .bookmark-yellow {
      height: 33.5rem;
      bottom: 18%;
      z-index: 0;
    }

    & .bookmark-purple {
      height: 33.5rem;
      z-index: -1;
      bottom: 18%;
    }

    &:hover {
      & .book-text {
        & div:nth-child(1) {
          transform: translateX(-320px) translateY(-150px);
        }
        & div:nth-child(2) {
          transform: translateX(-290px) translateY(160px);
        }
        & div:nth-child(3) {
          transform: translateX(310px) translateY(200px);
        }
      }

      & .bookmark-yellow {
        transform: rotate(13deg) translateX(115%) translateY(-40%);
      }
      & .bookmark-purple {
        transform: rotate(23deg) translateX(170%) translateY(-30%);
      }
      & .pin {
        transform: rotate(-15deg) translateX(-300px) translateY(80%);
      }
    }
  }
}
