& .navbar {
  display: flex;
  justify-content: space-between;
  padding-inline: 10rem;
  padding-block: 3.5rem;
  & .display-mobile {
    display: none;
  }
}
@media (width <= 1000px) {
  & .navbar {
    padding: 1.25rem;
    & .display-mobile {
      display: initial;
      height: 48px;
      width: 65px;
    }
    & .display-desktop {
      display: none;
    }
  }
}
#hero {
  background: url(../assets/hero-background.png) no-repeat;
  background-size: 100%;
  opacity: 0.1;
  aspect-ratio: 1440 / 800;
  margin-bottom: 56px;
  animation: hero-background 3s ease-in-out both;
  & .tittle {
    text-align: center;
    color: var(--text-title);
    max-width: 656px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    & p {
      opacity: 0;
      animation: hero-background 3s ease-in both 200ms;
    }
  }
}

@media (width <= 1000px) {
  #hero {
    background-size: 250%;
    background-position: top center;
    height: 530px;
    margin-bottom: 0;
    & .tittle {
      gap: 1rem;
      padding-inline: 1.25rem;
      & h1 {
        margin-top: 3rem;
        font-size: 1.75rem;
      }
      & p {
        font-size: 1rem;
      }
    }
  }
}

@keyframes hero-background {
  to {
    opacity: 1;
  }
}

#hero1 {
  position: relative;
  height: 25rem;
  display: flex;
  max-width: 1200px;
  padding-block: 6rem;
  align-items: center;
  &:hover {
    & div:nth-child(1) {
      animation: color-text 300ms linear both 800ms;
    }
    & div:nth-child(2) {
      animation: color-text 300ms linear both;
    }
    & div:nth-child(3) {
      animation: color-text 300ms linear both 400ms;
    }
    & p {
      & > span:nth-child(1) {
        animation: color-text 300ms linear both;
        & .span-blue-light {
          animation: color-blue-light 300ms linear both 100ms;
        }
      }
      & > span:nth-child(2) {
        animation: color-text 300ms linear both 400ms;
        & .span-blue-light {
          animation: color-blue-light 300ms linear both 500ms;
        }
      }
      & > span:nth-child(3) {
        animation: color-text 300ms linear both 800ms;
        & .span-blue-light {
          animation: color-blue-light 300ms linear both 900ms;
        }
      }
    }
  }
  & div {
    position: absolute;
    opacity: 0;
    & img {
      width: 5.5rem;
      &:hover {
        scale: 1.1;
        transform: rotate(20deg);
        transition: 550ms;
      }
    }
  }
  & div:nth-child(1) {
    right: 3%;
    bottom: 10%;
    transform: rotate(-15deg);
  }
  & div:nth-child(2) {
    left: 40%;
    top: 5%;
  }
  & div:nth-child(3) {
    left: 5%;
    bottom: 10%;
    transform: rotate(90deg);
  }

  & p {
    padding-inline: 2rem;
    text-align: center;
    font: var(--font-subtitle);
    color: #e2e7e980;
    & .span-blue-light {
      font-weight: bold;
    }
  }
}

@media (width <= 1000px) {
  #hero1 {
    height: 14rem;
    display: flex;
    padding-block: 3rem;
    & div {
      & img {
        width: 2.5rem;
      }
    }
    & div:nth-child(1) {
      right: 5%;
      bottom: 5%;
      transform: rotate(15deg);
    }
    & div:nth-child(2) {
      left: 70%;
    }
    & div:nth-child(3) {
      left: 5%;
      bottom: 5%;
      transform: rotate(315deg);
    }
    & p {
      padding-inline: 2rem;
      font-size: 1rem;
      line-height: 1.4;
    }
  }
}

@keyframes color-text {
  to {
    color: var(--text-body);
    opacity: 1;
  }
}

@keyframes color-blue-light {
  to {
    color: var(--blue-light);
  }
}

.blur-hero {
  position: relative;
  .blur {
    & img:nth-child(1) {
      position: absolute;
      bottom: 70%;
      right: 0;
    }
    & img:nth-child(2) {
      position: absolute;
      bottom: 30%;
      left: 0;
    }
    & img:nth-child(3) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    & img:nth-child(4) {
      position: absolute;
      bottom: 2%;
      right: 0;
      z-index: 0;
    }
  }
}

@media (width <= 1000px) {
  .blur-hero {
    & img {
      width: 50%;
    }
    .blur {
      & img:nth-child(1) {
        bottom: 70%;
        right: 0;
      }
      & img:nth-child(2) {
        bottom: 30%;
        left: 0;
      }
      & img:nth-child(3) {
        top: 50%;
        left: 0;
        z-index: 0;
      }
      & img:nth-child(4) {
        bottom: 0;
        right: 0;
        z-index: 0;
      }
    }
  }
}
